<template>
    <button type="submit" :class="classes" @click="toggle">
        <i class="far fa-thumbs-up"></i>
        <span v-text="count"></span>
        赞
    </button>
</template>

<script>
    export default {
        props:['reply'],

        data() {
            return {
                count: this.reply.favoritesCount,
                active:this.reply.isFavorited
            }
        },

        computed: {
            classes() {
                return ['btn btn-sm',
                    this.active ? 'btn-primary' : 'btn-default'
                ];
            },

            endpoint() {
                return '/replies/' + this.reply.id + '/favorites';
            }
        },

        methods: {
            toggle() {
                this.active ? this.destroy() : this.create();
            },

            create() {
                axios.post(this.endpoint);

                this.active = true;
                this.count++;
            },

            destroy() {
                axios.delete(this.endpoint);

                this.active = false;
                this.count--;
            }
        }
    }
</script>