<template>
    <div>
        <div v-if="signedIn">
            <div class="form-group">
                <textarea name="content"
                          id="content"
                          class="form-control"
                          placeholder=""
                          rows="5"
                          required
                          v-model="content"></textarea>
            </div>

            <button type="submit"
                    class="btn btn-default"
                    @click="addReply">评论</button>
        </div>

        <p class="text-center" v-else>
            请 <a href="/login">登录</a> 加入讨论
        </p>
    </div>
</template>

<script>
    import 'jquery-caret';
    import 'at.js';

    export default {
        data() {
            return {
                content: ''
            };
        },
        computed: {
            signedIn() {
                return window.App.signedIn;
            }
        },

        // 调试发现光标一直左移，暂保留
        // https://laravel-china.org/docs/forum-in-laravel-tdd/61-username-automatically-complement-two/1761
//        mounted() {
//            $('#body').atwho({
//                at:"@",
//                delay:750,
//                callbacks: {
//                    remoteFilter: function (query,callback) {
//                        $.getJSON("/api/users",{name:query},function(usernames){
//                            callback(usernames)
//                        });
//                    }
//                }
//            });
//        },
        methods: {
            addReply() {
                axios.post(location.pathname + '/replies', { content: this.content })
                    .then(({data}) => {
                        this.content = '';
                        flash('Your reply has been posted.');
                        this.$emit('created', data);
                    }).
                    catch(error => {
                        flash(error.response.data,'danger');
                    });
            }
        }
    }
</script>