<template>
    <div class="comment" :id="'reply-'+id" :class="isBest ? '' : 'is-best'">
        <a :href="'/profiles/'+data.owner.name">
            <img class="avatar-square avatar-comment" :src="'/storage/'+data.owner.avatar_path" />
        </a>
        <div class="">
            <div>
                <h5>
                    <span v-text="data.owner.name"></span> 回复于 <span v-text="ago"></span>
                </h5>
            </div>

            <div v-if="editing">
                <form @submit.prevent="update">
                    <div class="form-group">
                        <textarea class="form-control" v-model="content" required></textarea>
                    </div>

                    <button class="btn btn-sm btn-primary" >编辑</button>
                    <button class="btn btn-sm btn-link" @click="cancelReply" type="button">取消</button>
                </form>
            </div>

            <div v-else v-html="content"> </div>

            <div>
                <span v-if="authorize('owns',reply) || authorize('owns',reply.thread)">
                <span v-if="authorize('owns',reply)">
                    <button class="btn btn-sm mr-1" @click="editReply">编辑</button>
                    <button class="btn btn-sm btn-danger mr-1" @click="destroy">删除</button>
                </span>

                <button class="btn btn-sm" @click="markBestReply" v-if="authorize('owns',reply.thread)">采用</button>
                </span>
                    <span v-if="signedIn">
                        <favorite :reply="data"></favorite>
                    </span>
            </div>

        </div>


    </div>
</template>
<script>
    import Favorite from './Favorite.vue';
    import moment from 'moment';

    export default {
        props: ['data'],

        components: { Favorite },

        data() {
            return {
                editing: false,
                id: this.data.id,
                content: this.data.content,
                isBest: this.data.isBest,
                reply: this.data
            };
        },

        created() {
            window.events.$on('best-reply-selected',id => {
                this.isBest = (id === this.id)
            });
        },

        computed: {
            ago() {
                return moment(this.data.created_at).fromNow() + '...';
            }
        },

        methods:{
            update() {
                axios.patch('/replies/' + this.data.id,{
                        content:this.content
                    })
                    .catch(error => {
                        flash(error.response.data,'danger');
                    });

                this.editing = false;

                flash('Updated!');
            },

            destroy() {
                axios.delete('/replies/' + this.data.id);

                this.$emit('deleted',this.data.id);
            },
            editReply(){
                this.old_content_data = this.content;
                this.editing = true;
            },

            cancelReply(){
                this.content = this.old_content_data;
                this.old_content_data = '';
                this.editing = false;
            },

            markBestReply() {
                this.isBest = true;

                axios.post('/replies/' + this.data.id + '/best');

                window.events.$emit('best-reply-selected',this.data.id);
            }
        }
    }
</script>