
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$avatar: 44px;
$card-padding: 20px;

// Colors
$color-bg-default: #f8fafc;
$color-border-default: rgba(0, 0, 0, 0.125);

$theme-color: #965042;
$theme-color-light: #96645a;
$theme-color-little: #ccaaa3;

$grey-font: #8b8a8a;
$color-border: rgba(0, 0, 0, 0.125);
$color-divider: rgba(0, 0, 0, 0.125);
$color-a-hover: #1e70bf;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
