
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custorm Bootstrap
.list-group-item {
  border: 1px solid $color-border;
}

.form-control {
  border: 1px solid $color-border;
}

.reset-list-group-padding {
  padding: 0.45em 1.25em;
}

.pagination-height {
  padding: 1.45em 1.25em;
}

.page-item .page-link {
  color: $grey-font;
}

.page-item .page-link:hover {
  color: $theme-color-light;
}

.page-item.active .page-link {
  background-color: #fff;
  border-color: $border-color;
  color: $theme-color;
}


.dropdown:hover .dropdown-menu {
  //display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.navbar {
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem;
  }
}

.navbar-toggler {
  margin: 0.5rem;
}

.nav-link:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

.dropdown-toggle:focus {
  border: none;
  outline: none;
}
// gloab setting

.notice::after {
  content: "";
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}




html, body {
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", NotoSansHans-Regular,AvenirNext-Regular,arial,"Hiragino Sans GB",
  "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
a, a:focus, a:hover {
  color: #555;
  text-decoration: none;
}
.have-read {
  color: $grey-font;
}

@media (max-width: 576px) {
  .col-lg-8 {
    padding: 0;
  }
  .col-lg-4 {
    padding: 0;
  }
}

.thread-list-container {
  margin-bottom: 20px;
}
.topic-filter a{
  padding: 2px;
  color: $grey-font;
}

.topic-filter a.active {
  border-bottom: 2px solid $theme-color;
}


.item-topic-container {
  line-height: $avatar;
}

.item-topic-left {
  float: left;

}

.item-topic-center {
  margin-left: 58px;
  margin-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
}

.item-topic-right{
  float: right;
}

.avatar-thread {
  padding: 3px;
  width: $avatar;
  height: $avatar;
  border: 1px solid $theme-color-little;
  border-radius: 50%;
}

.thread-nums{
  color: $grey-font;
}

@media (max-width: 576px) {
  .thread-nums-other {
    display: none;
  }

  .item-topic-center {
    margin-right: 20px;
  }
}

// 文章页面
.article {
  background-color: #fff;
  border: 1px solid $color-border;
  border-radius: 0.25em;
  padding: 1em;

  .title {
    font-size: 20px;
  }

  .meta {
    font-size: 14px;
    color: $grey-font;
  }

  .divider {
    border-top: 1px solid $color-divider;
    margin: 1em 0;
  }
}


.component-1-button {
  margin: 1.25em 0;
  padding: 1em;
  background-color: #fff;
  border: 1px solid $color-border;
  border-radius: 0.25em;
  text-align: center;
}

.comment-divider {
  margin: 34px 0;
  letter-spacing: 0.2em;
  height: 1px;
  line-height: 1px;
  text-align: center;
  color: #777;
  background-color: $color-border;
}

.comment-divider-text {
  padding: 0 1em;
  background-color: $color-bg-default;
}

.comment {
  margin-left: 72px;
  margin-bottom: 20px;
  padding: $card-padding;
  border: 1px solid $color-border;
  border-radius: 0.25em;
  background-color: #fff;
}

.avatar-square {
  width: 50px;
  height: 50px;
  border-radius: 0.25em;
  box-shadow: 0px 1px 10px 0 #a3b4bf;
}

.avatar-comment {
  float: left;
  margin: -20px 0 0 -88px;
}

.card-user {
  border: 1px solid $color-border;
  border-radius: 0.25em;
  padding: $card-padding;
  background: #fff;
  text-align: center;

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }

  .div-name {
    margin-top: 2em;
    height: 2em;
    line-height: 2em;
    font-size:13px;
    a.name {
      border-top: 1px solid $color-divider;
      padding: 1em;
      color: $grey-font;
    }
    a.name:hover {
      color: $color-a-hover;
    }
  }
}




